/* Popup container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    font-size: 12px;
    font-family: "Lucida Console";
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


  #boolMark {
      background-color: navy;
      color:white;
      font-weight: bold;
  }

  #stringMark {
      background-color: black;
      color:white;
      font-weight: bold;
  }

  #intMark {
    background-color:darkmagenta;
    color:white;
    font-weight: bold;
}